*{
 margin: 0;
 padding: 0;
}
html , body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    --black: hsl(240, 6%, 13%);
    --gray:hsl(240, 9%, 89%);

    display: grid;
    place-items: center;
}

main {
    background: url('../img/background.svg');
    width: 375px;
    height: 812px;
}
.container {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;

    color: var(--gray);
}
.avatar{
    width: 10rem;
    margin: 10rem auto 0;

    position: relative;
}
.avatar span {
    position: absolute;
    top: -15px;

    z-index: 1;
}
.avatar > img { /*busca do 1 nivel*/
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    /* criar formas complexas */
}

h1 {
    font-size: 1.5rem;

    margin-top: 1.5rem;
}

a {
    color: var(--gray);
    text-decoration: none;

    margin-top: .25rem;
}
p{
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;

    list-style: none;
    display: flex;
    gap: .5rem;
    justify-content: center;
}

